.bracket, .operator, .movement, .iostream {
    font-style: normal;
}

.bracket {
    color: #7660d8;
}

.operator {
    color: #cd3fda;
}

.movement {
    color: #44b5e9;
}

.iostream {
    color: #52da36;
}

.selected {
    background: rgba(255, 255, 255, 0.2);
}

.caretContainer {
    width: 0;
    font-size: 0.85rem;
    height: 0;
    position: relative;
    display: inline-block;
}

.caret {
    position: absolute;
    height: 1rem;
    outline: 1px solid white;
    left: 2px;
    bottom: -0.2rem;
}

.caret.hide {
    outline-color: transparent;
}