
body {
    margin: 0;
    background: #201f25;
}

#cellsBar {
    height: 5rem;
    width: 100vw;
}

#main {
    padding: 2rem;
}

.row {
    display: flex;
    width: 100%;
}

#editor {
    position: relative;
    height: 70vh;
    flex-grow: 1;
    font-family: monospace;
    margin-bottom: 2rem;
}

#editorCover, #editorContent {
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 0.85rem;
    line-height: 1rem;
}

#editorContent:focus {
    outline: none;
}

#editorCover {
    position: absolute;
    top: 0;
    left: 0;
    background: #131216;
    color: #777;
    font-style: italic;
    z-index: 1;
    pointer-events: none;
    overflow: auto;
    scrollbar-width: none;
    font-variant-ligatures: none;
}

#editorCover::-webkit-scrollbar {
    display: none;
}

textarea {
    word-break: break-all;
}

#output {
    margin: 0 1rem;
    overflow-x: auto;
    padding: 0 1rem;
    border-radius: 1rem;
    background: #131216;
    font-family: monospace;
    color: white;
    font-size: 1.2rem;
    width: 20rem;
    height: 3rem;
    line-height: 3rem;
}