
body {
    margin: 0;
    background: #201f25;
    font-family: monospace;
    color: white;
}

#cellsBar {
    height: 5rem;
    display: flex;
    padding: 1rem 2rem;
}

.cell {
    display: flex;
    flex-direction: column;
}

.cellContent {
    height: 2rem;
    border: 1px solid #999;
    line-height: 2rem;
}

.cellIndex {
    height: 1.5rem;
    line-height: 1.5rem;
    color: #888;
}

.cellIndex, .cellContent {
    width: 3rem;
    text-align: center;
}

.currentCell {
    background: rgb(243, 203, 91);
    color: black;
    font-weight: bold;
    border-color: white;
}

#main {
    padding: 2rem;
}

.row {
    display: flex;
    width: 100%;
}

#editor {
    position: relative;
    height: 70vh;
    flex-grow: 1;
    margin-bottom: 2rem;
}

#editorCover, #editorContent {
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 0.85rem;
    line-height: 1rem;
    scrollbar-width: none;
    font-variant-ligatures: none;
    overflow: auto;
    box-sizing: border-box;
    tab-size: 4;
    white-space: pre;
}


#editorCover::-webkit-scrollbar, #editorContent::-webkit-scrollbar {
    display: none;
}

#editorContent:focus {
    outline: none;
}

#editorCover {
    position: absolute;
    top: 0;
    left: 0;
    background: #131216;
    color: #777;
    z-index: 1;
    pointer-events: none;
}

textarea {
    word-break: break-all;
}

#input, #output {
    font-size: 1rem;
    background: #131216;
    overflow-x: auto;
    border-radius: 1rem;
    width: 20rem;
    line-height: 3rem;
    height: 3rem;
    margin: 0 1rem;
    padding: 0 1rem;
    outline: none;
    border: none;
}

#input {
    color: white;
    font-family: monospace;
}

.iotext {
    line-height: 3rem;
    margin: 0 1rem;
}